.text-area {
    display: flex;
    align-items: center;

    .textarea-field {
        padding: 12px 20px;
        border: 1px solid yellow;
        border-radius: 4px;
    }
    .input-label {
    
    }
}


